.play-button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%); 
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.04);
}

.play-button:active {
    transform: translate(-50%, -50%); 
}

.last-button{
    left: 48.08%;
}

.next-button{
    left: 51.92%;
}

.last-button, .next-button{
    color: #B3B3B3;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 37%;
    transform: translate(-50%, -50%);
}

.last-button:hover, .next-button:hover{
    color:white;
}

.last-button:active, .next-button:active{
    color: #B3B3B3;
}