.main-content {
    flex: 1;
    background: linear-gradient(to top,
            rgba(20, 20, 20, 1) 0%,
            rgba(20, 20, 20, 1) 75%,
            rgba(40, 40, 40, 1) 90%,
            rgba(40, 40, 40, 1) 100%);
    color: white;
    overflow-y: scroll;
}

.main-content:not(:hover)::-webkit-scrollbar-thumb {
    background-color: transparent;
}
