.home-page {
    min-height: calc(((100vh - 64px) - 90px) - 519px);
    margin-right: 10px;
    padding: 16px 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: calc(180px * 9 + 24px * 8);
}

.homepage-footer {
    margin-top: 70px;
    border-top: 1px solid #393636;
    height: 150px;
    user-select: none;
}
