.playlist-card {
    background: #181818;
    border-radius: 6px;
    padding: 16px;
    height: 270px;
    width: 180px;
    box-sizing: border-box;
    display: inline-block;
}

.playlist-card:hover {
    background-color: hsla(0,0%,100%,.1);
    cursor: pointer;
}

.playlist-cover {
    margin-bottom: 16px;
    width: 147px;
    height: 147px;
    border-radius: 4px;
    background-color: white;
    color: black;
}

h1 {
    margin-top: 0px;
}

.playlist-cover,
.playlist-text {
    user-select: none;
}
