.playlist-card {
    background: #181818;
    border-radius: 6px;
    padding: 16px;
    height: 270px;
    width: 180px;
    box-sizing: border-box;
    display: inline-block;
}

.playlist-card:hover {
    background-color: hsla(0,0%,100%,.1);
    cursor: pointer;
}

.playlist-cover {
    margin-bottom: 16px;
    width: 147px;
    height: 147px;
    border-radius: 4px;
    background-color: transparent;
    color: black;
}

.playlist-cover img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.playlist-cover,
.playlist-text {
    user-select: none;
}

.playlist-name {
    font-weight: 700;
    box-sizing: border-box;
    padding-bottom: 4px;
}

.playlist-intro {
    color: #b3b3b3;
    font-size: 0.875rem;
}
