.play-control {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.prev-button,
.next-button {
    color: #B3B3B3;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    bottom: 13px;
}

.play-button, .play-button:active{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    position: relative;
    bottom: 13px;
    transition: all;
    /* 添加动画 */
}

.play-button:hover {
    transform: scale(1.04);
}

.play-button:active {
    transform: scale(1);
}


.prev-button:hover,
.next-button:hover {
    color: white;
}

.prev-button:active,
.next-button:active {
    color: #B3B3B3;
}
