.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Content {
  display: flex;
  height: calc(100vh - 90px);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.5);
  background-clip: content-box;
  border-right: 4px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}
