.sidebar {
    width: 265px;
    background-color: rgb(0, 0, 0);
}

.menu-item {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    text-align: left;
    color: #B3B3B3;
    padding: 7px 10%;
    cursor: pointer;
    user-select: none;
}

.menu-item:hover {
    color: #fff;
}

.menu-item:active .item-text { 
    transform: scale(0.992) translateY(-0.3px) translateX(-0.3px);
}

.menu-item:active .item-ico {
    transform: scale(0.992) translateY(-0.3px) translateX(-0.3px);
}

.item-ico{
    padding-right: 14px;
}
